<div class="container-full">
   
    <form class="row align-items-center" [formGroup]="algoForm" (ngSubmit)="onSubmit($event)">
        <div class="col-auto">
            <label for="selectedAlgo" class="mb-1">Select Algorithm</label>
            <select  formControlName="selectedAlgo" class="form-select mb-3" aria-label="Large select example">
                @for (sortingAlgo of algoList; track $index) {
                    <option [value]="sortingAlgo.code">{{sortingAlgo.name}}</option>
                }
            </select>
        </div>
        <div class="col-auto mb-3">
            <label for="arraySize" class="mb-1">Elements(max:1000)</label>
            <input type="number" formControlName="arraySize" class="form-control" placeholder="Array Size" aria-label="Array Size">
          </div>
        <div class="col-auto mb-3" >
            <label for="delay" class="mb-1">Delay({{this.algoForm.controls['delay'].value}}ms)</label>
            <input type="range" formControlName="delay" placeholder="Delay" class="form-range" min="0" max="1000" step="1" id="delay">
        </div>
        <div class="col-auto mb-3">
            <button (click)="sort()" type="button" [disabled]="isSorted || !algoForm.valid" class="btn btn-warning me-1"><i class="fa-solid fa-play"></i></button>
            <button (click)="reInit()" type="button" class="btn btn-warning me-1"><i class="fa-solid fa-repeat"></i></button>
            <button (click)="stop()" type="button" class="btn btn-warning"><i class="fa-solid fa-pause"></i></button>
        </div>
    </form>
    <app-bar [mark]="marker" [data]="data"></app-bar>

</div>
        
